@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    background:#5D2A42;
    font-size: 30px;
}

.navbar-brand {
    font-size: 30px;
}

.nav-link , .navbar-brand{
    color: #f4f4f4;
    cursor: pointer;
}
.nav-link{
    margin-right: 1em !important;
}
.nav-link:hover{
    background: #f4f4f4;
    color: #5D2A42;
}
.navbar-collapse{
    justify-content: flex-start;
}
.navbar-toggler{
    background:#fff !important;
}

.header{
    background-image: url('../images/space.jpeg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 550px;
}

.overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
}

.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}
.description h1{
    color:#ffffff ;
}
.description p{
    color:#ffffff;
    font-size: 20px;
    line-height: 1.5;
}

.contact-form{
    margin: 6em 0;
    position: relative;  
}
.contact-form h1{
    padding:2em 1px;
    color: #5D2A42; 
}
.contact-form .right{
    max-width: 600px;
}
.contact-form .right .btn-secondary{
    background:  #5D2A42;
    color: #fff;
    border:0;
}
.contact-form .right .form-control::placeholder{
    color: #888;
    font-size: 16px;
}

.about{
    margin: 4em 0;
    padding: 1em;
    position: relative;
}
.about h1{
color:#F97300;
margin: 2em;
}
.about img{
height: 100%;
    width: 100%;
    border-radius: 50%
}
.about span{
display: block;
color: #888;
position: absolute;
left: 115px;
}
.about .desc{
padding: 2em;
border-left:4px solid #10828C;
}
.about .desc h3{
color: #10828C;
}
.about .desc p{
line-height:2;
color:#888;
}

.top-buffer {
    padding-top:100px;
}

.bottom-buffer {
    padding-bottom:40px;
}

.row > div > h1, h2, h3, p {
    color: #5D2A42;
}

.icons i,
.icons svg {
   color: #2759AE;
}