@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    color: rgb(0, 0, 0);
    
}

a {
    text-decoration: none;
    color: #2c13a8 !important;
}

nav {
    width: 100%;
    display: block;
    margin: 0 auto 30px;
    background: #998ed2;
}

body {
    background: linear-gradient(rgba(255,255,255,0.55), rgba(255, 255, 255, 0.55)), url("images/back1.jpg");
    position: relative;
	min-height: 100%;
    top: 100px;
    padding-bottom: 90px;
}

header {
    position: fixed;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}


footer {
    background-color: #998ed2;
    height: 140px;
    bottom: 0;
    text-align: center;
    position: absolute;
	left: 0;
	width: 100%;
}

.container {
    margin: 10px;
    color: #2c13a8 !important;
}

.menu {
    display: inline-block;
    padding: 0 20px;
    font-size: 22px;
}

.main-page {
    font-size: 32px;
}

.ul-menu {
    padding: 10px;
    color: #2c13a8;
}


.image_section {
    text-align: center;
}

.image_section > img {
    margin: 0 10px;
}

table {
    margin: 40px auto;
    font-size: 24px;
    border: #5e4fa9 5px dashed;
    padding: 10px 0;
    color: #140658;
    
}

tr, .authorization_section > * {
    text-align: center;
}

tr, .authorization_section > * {
    padding: 0 30px;
}

th {
    padding: 5px 10px;
    border: black 1px solid;
}

td {
    padding: 5px 10px;
    border: black 1px solid;
}

.authorization_section {
    height: 300px;
    width: 300px;
    margin: 40px auto;
    font-size: 24px;
    border: #5e4fa9 5px dashed;
    padding: 10px 0;
    color: #140658;
}

.button {
    border: #5e4fa9 1px solid;
    border-radius: 3px;
    line-height: 2.5;
    padding: 0 20px;
    text-align: center;
    margin: 30px;
    font-size: 18px;   
}

.button:hover {
    background-color: rgb(133, 120, 194);
}

.check {
    text-align: center;
    margin: 30px;   
}

input {
    font-size: 18px; 
}

.text_input {
    font-size: 20px; 
}

.request_section {
    height: 700px;
    width: 500px;
    margin: 40px auto;
    font-size: 22px;
    border: #5e4fa9 5px dashed;
    padding: 10px 0;
    color: #140658;
    text-align: center;
}

.approval {
    font-size: 16px;
}

.radio {
    text-align: left;
}

.head {
    font-size: 26px;
}

.text_block {
    margin: 20px 0;
}

h1 {
    font-size: 46px;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 32px;
    text-align: center;
}

.text {
    margin: 10px auto;
    max-width: 800px;
    font-size: 22px;
    padding-bottom: 60px;
}

.tables {
    margin: 10px auto;
    max-width: 1000px;
}

.facts {
    margin: 0 20px;
}

.selected_menu {
    color: #FFECA1;
}

.definition_table {
    max-width: 1200px;
}

.photos {
    width: 500px;
    padding: 20px;
    height: 350px;
}

.calc {
    padding-bottom: 200px;
    max-width: 600px;
    text-align: center;
    margin: auto;
}

.calc > * {
    padding: 10px;
}

.result_calc {
    margin: 10px;
    font-size: 26px;
}

.calc-container {
    margin: 30px 40px;
    margin-bottom: 150px;
}

.buttons {
    width: 550px;
    height: 400px;
    margin: auto;
    border: #5e4fa9 1px solid;
}

.key {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: #5e4fa9 1px solid;
    font-size: 30px;
    margin: 10px 20px;
}

.digits {
    width: 300px;
    display: inline-block;
}

.other {
    width: 200px;
    display: inline-block;
}

footer p {
    color: #2c13a8 !important;
}


.radio_block > * {
    display: inline;
    padding: 10px;
}

.normal_table {
    border: black 1px solid !important;
}

.f_div {
    margin: 4px;
    border: rgb(193, 35, 35) 2px solid;
    display: inline-block;
    padding: 5px;
}

.inputs > * {
    display: inline;
    margin: 5px;
}